
 
<ion-content padding>
	
	
		<ion-card>
			<form [formGroup]="loginForm">
			<ion-grid>
				<ion-row justify-content-center>
					<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
						<div class="ion-text-center">
							<h4><span *ngIf="isLogin">Login</span><span *ngIf="!isLogin">Registration</span> Form</h4>
						</div>
						<div padding>
							<ion-item>
								<ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
							</ion-item>

							<ion-item>
								<ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
							</ion-item>
						</div>
			
						<div padding>
							<!-- <ion-button size="large" href="/touchid" (click)="signup()" expand="block">Login</ion-button> -->
							<ion-button size="large"   (click)="login()" expand="block"><span *ngIf="isLogin">Login</span><span *ngIf="!isLogin">Register</span></ion-button>
						</div>
						<ion-grid *ngIf="isLogin">
							<ion-row>
								<ion-col class='ion-text-start' (click)="forgotPassword()">
									<span>Forgot password?</span>
								</ion-col>
								<ion-col class='ion-text-end' (click)="toggleForm()">
									<span>New here? Register</span	>
								</ion-col>
							</ion-row>
						</ion-grid>
						<ion-grid *ngIf="!isLogin">
							<ion-row>
								<ion-col class='ion-text-end' (click)="isLogin = !isLogin">
									<span>Back to login</span	>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-col>
				</ion-row>
			</ion-grid>
		</form>
			</ion-card>



</ion-content>